.points-display {
    font-size: 220px;
}
.points-display button {
    border: none;
    background-color: transparent;
    font-size: 30px;
    transition: transform 200ms;
}
.points-display button:hover {
    transform: scale(1.2);
}
.edit-points {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.buttons {
    display: flex;
}
.edit-points button {
    border: none;
    background-color: transparent;
    color: #282828;
    font-size: 30px;
    transition: transform 200ms;
}
.edit-points input {
    font-size: 30px;
    text-align: center;
    padding: 12px 20px;
    margin: 10px;
    border: none;
    border: 3px solid #282828;
}
.edit-points button:hover {
    transform: scale(1.2);
}

/*remove arrows from number spinner input */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
