@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
.counter-wrapper {
    font-family: 'Open Sans', sans-serif;
    color: #282828;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    width: 90vw;
    max-width: 90vw;
}
.teams {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
